
@{
    ViewBag.Title = "Products";
}

<!--Từng sản phẩm-->
<section class="tungsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" />
        <div class="info col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Rèm vải Nhật Bản 01</p>
            <button type="submit">Mua hàng</button>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Nav tabs -->
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#mota" aria-controls="mota" role="tab" data-toggle="tab">Mô tả sản phẩm</a>
                        </li>
                        <li role="presentation">
                            <a href="#thongso" aria-controls="thongso" role="tab" data-toggle="tab">Thông số sản phẩm</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="mota">
                            Là loại rèm được sản xuất theo công nghệ Nhật Bản, có tác dụng tránh nắng.
                            Rèm có màu sáng, họa tiết nâu, một lớp vải mịn làm tăng thêm vẻ sang trọng quý phái của căn nhà.<br />
                            Thông thường vải dùng cho rèm phòng ngủ là vải thô, gấm, đũi, lụa...
                            Chất vải mềm mại tạo sóng và có màu sắc tùy theo từng thiết kế căn phòng.
                        </div>
                        <div role="tabpanel" class="tab-pane" id="thongso">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
            <a href="tel:01266419960" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><i class="fa fa-phone"></i><span>Tư vấn ngay : </span>0126 641 99 60</a>
        </div>
    </article>
    <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Sản phẩm cùng loại
        </p>
        <div class="cacsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="sanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="@Url.Action("Products","Home")" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/Content/images/sanpham/remvai/remvai-1lop.png" alt="" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" />
                    <div class="info col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Rèm vải Nhật bản 2
                        </p>
                        <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Là loại rèm được sản xuất theo công Nhật Bản có tác dụng tránh nắng...
                        </p>
                    </div>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="@Url.Action("Products","Home")" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/Content/images/sanpham/remvai/remvai-1lop.png" alt="" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" />
                    <div class="info col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Rèm vải Nhật bản 2
                        </p>
                        <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Là loại rèm được sản xuất theo công Nhật Bản có tác dụng tránh nắng...
                        </p>
                    </div>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="@Url.Action("Products","Home")" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/Content/images/sanpham/remvai/remvai-1lop.png" alt="" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" />
                    <div class="info col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Rèm vải Nhật bản 2
                        </p>
                        <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Là loại rèm được sản xuất theo công Nhật Bản có tác dụng tránh nắng...
                        </p>
                    </div>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="@Url.Action("Products","Home")" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/Content/images/sanpham/remvai/remvai-1lop.png" alt="" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" />
                    <div class="info col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Rèm vải Nhật bản 2
                        </p>
                        <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Là loại rèm được sản xuất theo công Nhật Bản có tác dụng tránh nắng...
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </aside>
</section>