.tungloaisanpham {
    height: 1%;
    overflow: hidden;
}

    /*banner*/
    .tungloaisanpham > .banner {
        height: 1%;
        overflow: hidden;
        background: url(../Content/images/sanpham/banner-bg.png) no-repeat;
        background-size: 100%;
        padding: 0;
    }

        .tungloaisanpham > .banner > p {
            background: linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,.1) 12%,rgba(0,0,0,.2) 39%,rgba(0,0,0,.3) 51%,rgba(0,0,0,.4) 100%);
            font-family: Roboto-Medium;
            font-size: 1.3em;
            color: rgb(255, 255, 255);
            text-align: justify;
            padding: 3em 0em 13em 3em;
            margin: 0;
        }

            .tungloaisanpham > .banner > p > span {
                font-size: 1.5em;
                font-weight: bold;
                text-transform: uppercase;
            }

    /*Danh mục sản phẩm*/
    .tungloaisanpham > .danhmuc {
        height: 1%;
        overflow: hidden;
    }

        .tungloaisanpham > .danhmuc > p {
            font-family: Roboto-Black;
            font-size: 2em;
            color: rgb(12, 123, 7);
            text-transform: uppercase;
            text-align: center;
            padding: 0.2em 0;
            margin: 1.5em 0 1em 0;
            border-top: solid 2px rgb(12, 123, 7);
            border-bottom: solid 2px rgb(12, 123, 7);
            width: 30%;
            left: 35%;
        }

        .tungloaisanpham > .danhmuc > .cacsanpham {
            height: 1%;
            overflow: hidden;
            padding: 0;
        }

            .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham {
                padding: 0;
                text-align: center;
                padding: 1em 0 0 0;
                margin: 1em 0 1em 0;
                transition: all .3s ease-in-out;
            }

                .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham:hover {
                    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
                }

                .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a {
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                }

                    .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > img {
                        width: 95%;
                        height: 19em;
                    }

                    .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > .info {
                        margin: 1em 0 3em 0;
                    }

                        .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > .info > .title {
                            font-family: Roboto-Black;
                            font-size: 1.5em;
                            text-transform: uppercase;
                            color: rgba(0, 0, 0, .6);
                            transition: all .3s ease-in-out;
                        }

                .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham:hover > a > .info > .title {
                    color: rgb(237, 7, 105);
                }

                .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > .info > .detail {
                    font-family: Roboto-Light;
                    font-size: 1.2em;
                    color: rgba(0, 0, 0, .6);
                    text-align: justify;
                }

/*Giao diện cho màn hình lớn*/
@media (min-width: 1400px) {
}

/*Giao diện cho tablet (ngang)*/
@media (min-width: 992px) and (max-width: 1024px) {
    /*banner*/
    .tungloaisanpham > .banner {
        background: url(../Content/images/sanpham/remvai/remvai1lop/banner-bg.png) no-repeat;
        background-size: 100%;
        padding: 0;
    }

        .tungloaisanpham > .banner > p {
            padding: 3em 0em 8em 3em;
        }

    /*Danh mục sản phẩm*/
    .tungloaisanpham > .danhmuc {
        height: 1%;
        overflow: hidden;
    }

        .tungloaisanpham > .danhmuc > p {
            width: 40%;
            left: 30%;
        }
}

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    /*banner*/
    .tungloaisanpham > .banner {
        background: url(../Content/images/sanpham/remvai/remvai1lop/banner-bg.png) no-repeat;
        background-size: 100%;
        padding: 0;
    }

        .tungloaisanpham > .banner > p {
            font-size: 1.1em;
            padding: 3em 0em 4.5em 3em;
        }

    /*Danh mục sản phẩm*/

    .tungloaisanpham > .danhmuc > p {
        width: 50%;
        left: 25%;
    }

    .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > img {
        width: 100%;
        height: 15em;
    }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    /*Danh mục sản phẩm*/
    .tungloaisanpham > .danhmuc {
        padding: 0;
    }

        .tungloaisanpham > .danhmuc > p {
            font-size: 1.5em;
            width: 90%;
            left: 5%;
        }

        .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > img {
            width: 100%;
            height: 20em;
        }

        .tungloaisanpham > .danhmuc > .cacsanpham > .sanpham > a > .info {
            padding: 0;
        }
}
